
.videoPanelItemLoading {
  display: grid;
  grid-template-columns: auto 1fr;
  grid-template-rows: auto;
  grid-gap: 6px;
  margin-bottom: 12px;
}

.cardSmall { composes: list-thumb-default from '../../styles/figures.css'; }
.cardBigResponsive { composes: list-big-thumb-default from '../../styles/figures.css'; }
.videoPanelTitle { composes: list-heading-default from '../../styles/figures.css'; }
.videoPanelParagraph { composes: list-paragraph-default from '../../styles/figures.css'; }
