
.channelBannerImage {
  width: 100%;
  height: auto;
  background-color: var(--icon-gray);
}

.channelCardWrapper,
.channelBody {
  padding: 12px;
  max-width: 1280px;
  margin: 0 auto;
}

.playlistTitle { composes: section-title from '../../styles/typography.css' }
