.channelHeaderLoading {
  composes: channel-loading-header-default from '../../styles/figures.css';
}

.channelBannerLoading {
  max-width: 1280px;
  margin: 0 auto;
  padding: 12px;

  display: grid;
  grid-template-columns: var(--avatar-default-size) auto var(--button-subscribe-default-width);
}

.channelAvatarLoadingWrapper {
  grid-column: 1/2;
  display: flex;
  justify-content: center;
}

.channelSubscribeLoadingWrapper {
  grid-column: 3/4;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.channelAvatarLoading { composes: avatar-loading from '../../styles/figures.css'; }
.channelSubscribeLoading { composes: subscribe-button-default from '../../styles/figures.css'; }
