
.channelBannerImage {
  width: 100%;
  min-height: 237px;
  background-color: var(--icon-gray);
}
.channelCardWrapper,
.channelBody {
  padding: 12px;
}

@media (min-width: 1080px) {
  .channelCardWrapper,
  .channelBody {
    max-width: 1280px;
    margin: 0 auto;
  }
}
