.loadingVideosContainer {
  margin: 0 auto;

  grid-column: 2/12;
  grid-row-start: 2;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
}

.videoPanelLoading {
  display: grid;
  grid-template-columns: repeat(auto-fit, auto);
  grid-template-rows: 1fr;
  grid-gap: 6px;
  margin-bottom: 16px;
}

.videoPanelItemLoading {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 118px auto;
}

.videoPanelThumb {
  background-color: var(--icon-gray);
  height: 118px;
  width: 210px;
}

.videoPanelMeta h3,
.videoPanelMeta p {
  height: 24px;
  margin-top: 8px;
  width: 210px;
  background-color: var(--icon-gray);
}

.videoPanelMeta p { width: 162px; }
