
.searchResultsCard {
  width: 100%;
  margin-bottom: 6px;

  display: grid;
  grid-template-columns: var(--list-big-thumb-default-width) auto;
  grid-template-rows: var(--list-big-thumb-default-height);
}

.videoDetailCard,
.channelCard {
  width: 100%;
  margin-bottom: 6px;

  display: grid;
  grid-template-columns: max-content auto;
  grid-template-rows: max-content;
}

.avatarWrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  align-items: center;
  justify-content: center;
}

.searchResultsAvatar { composes: avatar-search-results from '../../styles/figures.css'; }
.channelAvatar { composes: avatar-channel-page from '../../styles/figures.css'; }
.videoDetailAvatar { composes: avatar-video-detail from '../../styles/figures.css'; }

.metaDataWrapper {
  grid-column: 2/3;
  grid-row: 1/2;

  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;

  padding: 0 8px;
  overflow: hidden;
}


.title a { color: var(--carbon); }
.statistics, .optParams { color: var(--text-gray); }
.title, .statistics, .optParams { margin-bottom: 2px; }

.about { display: none; }

.cardHeader h2,
.cardHeader p { display: none; }

.subscribeButtonWrapper {
  position: absolute;
  right: 0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.subscribeButton {
  color: var(--white);
  background-color: var(--text-gray);
  padding: 8px 12px;
  outline: none;
  border: none;
  font-weight: 300;
}

.title { font-size: 0.7em; }
.statistics, .optParams, .about, .subscribeButton { font-size: 0.6em; }

@media (min-width: 360px) {
  .title { font-size: 0.8em; }
  .statistics, .optParams, .about, .subscribeButton { font-size: 0.7em; }
}

@media (min-width: 1080px) {

  .avatarWrapper { grid-column: 1/2; grid-row: 1/2; }
  .avatarBigResponsive { width: 136px; height: 136px; margin: 0 55px;}

  .metaDataWrapper {
    grid-column: 2/3;
    grid-row: 1/2;
    padding: 0 6px;
    position: relative;
  }

  .title {font-size: 1.1em;}
  .statistics, .optParams { font-size: 0.9em; color: var(--text-gray); }

  .about {
    display: block;
    max-width: 380px;
    font-size: 0.8em;
    color: var(--text-gray);
  }

  .subscribeButtonWrapper {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .subscribeButton {
    color: var(--white);
    background-color: var(--text-gray);
    padding: 8px 16px;
    font-size: 0.9em;
    outline: none;
    border: none;
    font-weight: 300;
    height: 42px;
  }

}

@media (min-width: 1280px) {}
