
.channelCardLoading {
  width: 100%;
  margin-bottom: 12px;
  display: grid;
  grid-template-columns: var(--list-big-thumb-default-width) auto;
  grid-template-rows: var(--list-big-thumb-default-height);
}

.avatarWrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  justify-content: center;
}

.avatar {
  composes: avatar-loading from '../../styles/figures.css';
  composes: avatar-search-results from '../../styles/figures.css';
}

.metaDataWrapper {
  grid-column: 2/3;
  grid-row: 1/2;
  position: relative;
  padding: 0 6px;

  display: flex;
  flex-flow: column;
  justify-content: center;
}

.title, .statistics, .about {
  height: 20px;
  background-color: var(--icon-gray);
}

.title { width: 90px; }
.statistics { width: 128px; }
.about { width: 180px; }

@media (min-width: 1080px) {

  .title { width: 120px; }
  .statistics { width: 248px; }
  .about { width: 360px; }
}
