
:root {
  --small-thumb-height: 90px;
  --small-thumb-width: 160px;
  --big-thumb-height: 138px;
  --big-thumb-width: 246px;
}

.card {
  display: grid;
  grid-template-columns: var(--small-thumb-width) auto;
  grid-template-rows: var(--small-thumb-height);
}

.cardFullBigResponsive,
.cardLightBigResponsive,
.cardLightSmall { composes: card; }

.cardHeader { grid-column: 1/2; }
.cardMeta { grid-column: 2/3; padding: 0 6px; }

.reactLink { composes: default-link from '../../../styles/base.css'}

.thumb { width: var(--small-thumb-width); height: var(--small-thumb-height); }
.videoTitle { overflow: hidden; margin: 0;}
.videoTitle a { color: var(--carbon); }
.channelTitle, .statistics, .separator { color: var(--text-gray); }
.separator { padding: 0 4px; }
.about { display: none; }

.cardLightBigResponsive h1,
.cardFullBigResponsive h1 { font-size: 1em; }

.cardFullBigResponsive h2,
.cardLightBigResponsive h2,
.cardFullBigResponsive h3,
.cardLightBigResponsive h3,
.cardFullBigResponsive span,
.cardLightBigResponsive span { font-size: 0.86em; display: inline-block; }

.cardLightSmall h1 { font-size: 0.96em; max-height: 35%; overflow: hidden; }
.cardLightSmall h2,
.cardLightSmall h3 { font-size: 0.84em; margin: 0; margin-bottom: 4px; }
.cardLightSmall span { display: none; }
.cardLightSmall p { display: none; }

@media (min-width: 1080px) {

  .cardFullBigResponsive,
  .cardLightBigResponsive {
    grid-template-columns: var(--big-thumb-width) auto;
    grid-template-rows: var(--big-thumb-height);
  }

  .cardLightBigResponsive img,
  .cardFullBigResponsive img {
    width: var(--big-thumb-width);
    height: var(--big-thumb-height);
  }

  .cardFullBigResponsive h1,
  .cardLightBigResponsive h1 { font-size: 1.2em; }

  .about { display: block; font-size: 0.84em; }

}

@media (min-width: 1280px) {}
