
.reactLink { composes: default-link from '../../../styles/base.css'}

.videoPageCard {
  display: grid;
  grid-template-columns: var(--list-thumb-default-width) auto;
  grid-template-rows: var(--list-thumb-default-height);
  grid-gap: 6px;
}

.searchResultsCard {
  display: grid;
  grid-template-columns: var(--list-big-thumb-default-width) auto;
  grid-template-rows: var(--list-big-thumb-default-height);
  grid-gap: 6px;
}

.cardHeader { grid-column: 1/2; }
.cardMeta { grid-column: 2/3; }

.videoPageCard .thumb {
  width: var(--list-thumb-default-width);
  height: var(--list-thumb-default-height);
}

.searchResultsCard .thumb {
  width: var(--list-big-thumb-default-width);
  height: var(--list-big-thumb-default-height);
}


.videoTitle,
.channelTitle,
.statistics,
.about {
  composes: video-list-card-text from '../../../styles/typography.css';
}

.videoTitle a { color: var(--carbon); }
.statistics { color: var(--text-gray); }

.videoPageCard p.about,
.searchResultsCard .channelTitle::after,
.searchResultsCard p.about { display: none; }


@media (min-width: 1080px) {

  .searchResultsCard p.about { display: block; }

  .searchResultsCard .channelTitle,
  .searchResultsCard .statistics { display: inline-block; }

  .searchResultsCard .channelTitle::after {
    display: inline-block;
    color: var(--text-gray);
    padding: 0 2px;
    content: ' . ';
  }

}
