
.loadingVideosContainer { max-width: 1280px; margin: 0 auto; }

.videoPanelLoading {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--video-panel-card-width));
  grid-gap: 4px;
  border-bottom: 1px solid var(--icon-gray);
  padding-bottom: 12px;
  margin-bottom: 28px;
}

.videoPanelItemLoading { margin-bottom: 16px; }

.videoPanelThumb { composes: video-thumb-default from '../../styles/figures.css' }
.videoPanelTitle { composes: video-title-default from '../../styles/figures.css'; }
.videoPanelParagraph { composes: video-paragraph-default from '../../styles/figures.css'; }
