
.loadingVideosContainer { max-width: 1280px; margin: 0 auto; }


.videoPanelLoading {
  display: grid;
  grid-template-columns: repeat(auto-fit, var(--panel-thumb-default-width));
  grid-gap: 4px;
  border-bottom: 1px solid var(--icon-gray);
  padding-bottom: 20px;
  margin-bottom: 20px;
}

.videoPanelHeadingLoading { composes: section-heading-loading from '../../styles/figures.css' }
.videoPanelThumb { composes: panel-thumb-default from '../../styles/figures.css' }
.videoPanelTitle { composes: panel-heading-default from '../../styles/figures.css'; }
.videoPanelParagraph { composes: panel-paragraph-default from '../../styles/figures.css'; }
