
:root {
  --panel-thumb-default-width: 128px;
  --panel-thumb-default-height: 72px;
  --list-thumb-default-width: 128px;
  --list-thumb-default-height: 72px;
  --list-big-thumb-default-width: 128px;
  --list-big-thumb-default-height: 72px;
  --card-text-height: 18px;
  --avatar-default-size: 48px;
  --button-subscribe-default-width: 140px;
  --button-subscribe-default-height: 32px;
  --channel-loading-header-height: calc(100vw / 5);
}

.loading-figure { background-color: var(--icon-gray); }
.text-loading-mt { margin-top: 4px; }
.text-loading-mb { margin-bottom: 4px; }

.section-heading-loading,
.text-loading,
.avatar-default,
.avatar-loading,
.panel-thumb-default,
.panel-heading-default,
.panel-paragraph-default,
.list-thumb-default,
.list-big-thumb-default,
.list-heading-default,
.list-paragraph-default,
.channel-loading-header-default,
.subscribe-button-default { composes: loading-figure; }

.avatar-default {
  height: var(--avatar-default-size);
  width: var(--avatar-default-size);
  border-radius: 50%;
}

.avatar-loading { composes: avatar-default; }

.section-heading-loading {
  width: var(--panel-thumb-default-width);
  height: var(--card-text-height);
  margin-bottom: 8px;
}

.panel-thumb-default {
  width: var(--panel-thumb-default-width);
  height: var(--panel-thumb-default-height);
}

.list-thumb-default {
  width: var(--list-thumb-default-width);
  height: var(--list-thumb-default-height);
}

.list-big-thumb-default {
  width: var(--list-big-thumb-default-width);
  height: var(--list-big-thumb-default-height);
}

.panel-heading-default {
  width: var(--panel-thumb-default-width);
  height: var(--card-text-height);
  composes: text-loading-mt;
}

.panel-paragraph-default {
  width: calc(var(--panel-thumb-default-width) * 0.75);
  height: var(--card-text-height);
}

.list-heading-default {
  width: var(--list-thumb-default-width);
  height: var(--card-text-height);
  composes: text-loading-mb;
}

.list-paragraph-default {
  width: calc(var(--list-thumb-default-width) * 0.75);
  height: var(--card-text-height);
}

.channel-loading-header-default {
  height: var(--channel-loading-header-height);
}

.subscribe-button-default {
  width: var(--button-subscribe-default-width);
  height: var(--button-subscribe-default-height);
}

@media (min-width: 360px) {

  :root {
    --panel-thumb-default-width: 160px;
    --panel-thumb-default-height: 90px;
    --list-thumb-default-width: 160px;
    --list-thumb-default-height: 90px;
    --list-big-thumb-default-width: 160px;
    --list-big-thumb-default-height: 90px;
    --card-text-height: 20px;
    --avatar-default-size: 64px;
    --button-subscribe-default-width: 180px;
    --button-subscribe-default-height: 40px;
    --channel-loading-header-height: calc(100vw / 6);
  }

}

@media (min-width: 1080px) {

  :root {
    --panel-thumb-default-width: 210px;
    --panel-thumb-default-height: 118px;
    --list-thumb-default-width: 160px;
    --list-thumb-default-height: 90px;
    --list-big-thumb-default-width: 246px;
    --list-big-thumb-default-height: 138px;
    --card-text-height: 24px;
    --avatar-default-size: 80px;
    --button-subscribe-default-width: 210px;
    --button-subscribe-default-height: 48px;
    --channel-loading-header-height: calc(100vw / 7);
  }

}
