
:root {
  --video-panel-card-width: 128px;
  --video-panel-card-height: 76px;

  --avatar-default-size: 48px;

  --button-subscribe-default-width: 140px;
  --button-subscribe-default-height: 32px;

  --channel-loading-header-height: calc(100vw / 5);
}

.loading-figure {
  background-color: var(--icon-gray);
}

.avatar-figure {
  composes: loading-figure;
  height: var(--avatar-default-size);
  width: var(--avatar-default-size);
  border-radius: 50%;
}

.video-thumb-default,
.video-title-default,
.video-paragraph-default { composes: loading-figure; }

.video-thumb-default { width: 128px; height: 72px; }
.video-title-default { width: 128px; height: 18px; }
.video-paragraph-default { width: 72px; height: 18px; }


.channel-loading-header-default {
  composes: loading-figure;
  height: var(--channel-loading-header-height);
}

.subscribe-button-default {
  composes: loading-figure;
  width: var(--button-subscribe-default-width);
  height: var(--button-subscribe-default-height);
}

@media (min-width: 360px) {

  :root {
    --video-panel-card-width: 160px;
    --video-panel-card-height: 94px;

    --avatar-default-size: 64px;

    --button-subscribe-default-width: 180px;
    --button-subscribe-default-height: 40px;

    --channel-loading-header-height: calc(100vw / 6);
  }

  .video-thumb-default { width: 160px; height: 90px; }
  .video-title-default { width: 160px; height: 20px; }
  .video-paragraph-default { width: 128px; height: 20px; }
}

@media (min-width: 1080px) {

  :root {
    --video-panel-card-width: 210px;
    --video-panel-card-height: 124px;

    --avatar-default-size: 80px;

    --button-subscribe-default-width: 210px;
    --button-subscribe-default-height: 48px;

    --channel-loading-header-height: calc(100vw / 7);
  }

  .video-thumb-default { width: 210px; height: 118px; }
  .video-title-default { width: 210px; height: 22px; }
  .video-paragraph-default { width: 160px; height: 22px; }
}
