
.card {
  width: 128px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 76px 52px;
}

.cardHeader { grid-column: 1/2; grid-row: 1/2; }
.cardMeta { grid-column: 1/2; grid-row: 2/3; }

.reactLink { composes: default-link from '../../../styles/base.css' }
.thumb { composes: video-thumb-default from '../../../styles/figures.css' }

.videoTitle, .channelTitle, .statistics, .separator {
  font-size: 0.6em;
  display: inline-block;
  color: var(--text-gray);
}

.videoTitle { margin: 0; }
.videoTitle a { color: var(--carbon); }

.separator { padding: 0 4px; }

@media (min-width: 360px) {
  .card {
    width: 160px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 94px 52px;
  }

  .videoTitle, .channelTitle, .statistics, .separator { font-size: 0.7em; }
}

@media (min-width: 1080px) {
  .card {
    width: 210px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 124px 52px;
  }

  .videoTitle, .channelTitle, .statistics, .separator { font-size: 0.8em;}
}
