
.card {
  width: var(--panel-thumb-default-width);
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: var(--panel-thumb-default-height) auto;
}

.cardHeader { grid-column: 1/2; grid-row: 1/2; }
.cardMeta { grid-column: 1/2; grid-row: 2/3; }

.reactLink { composes: default-link from '../../../styles/base.css' }
.thumb { composes: panel-thumb-default from '../../../styles/figures.css' }

.videoTitle { margin-top: 4px; }

.videoTitle,
.channelTitle,
.statistics,
.separator { composes: video-panel-card-text from '../../../styles/typography.css' }

.channelTitle, .statistics, .separator {
  display: inline-block;
  color: var(--text-gray);
}

.videoTitle a { color: var(--carbon); }

.separator { padding: 0 4px; }
