.searchResultsWrapperLoading {
  padding: 12px;
  padding-top: 48px;
  display: grid;
  grid-template-columns: minmax(0, 48px) 246px auto 320px minmax(0, 48px);
  grid-template-rows: 152px auto;
  grid-gap: 12px;
}

.channelCardWrapperLoading {
  grid-column: 2/4;
  grid-row: 1/2;
}

.card {
  width: 100%;
  margin-bottom: 6px;

  display: grid;
  grid-template-columns: 246px auto;
  grid-template-rows: max-content;
}

.avatarWrapper {
  grid-column: 1/2;
  grid-row: 1/2;

  display: flex;
  align-items: center;
  justify-content: center;

}

.avatarWrapper p {
  background-color: var(--icon-gray);
  height: 130px;
  width: 130px;
  border-radius: 50%;
}

.metaDataWrapper {
  grid-column: 2/3;
  grid-row: 1/2;

  position: relative;
  display: flex;
  flex-flow: column;
  justify-content: center;

  padding: 0 8px;
  overflow: hidden;
}

.title {
  height: 24px;
  width: 200px;
  background-color: var(--icon-gray);
}
.statistics, .optParams {
  height: 24px;
  width: 280px;
  background-color: var(--icon-gray);
}
.about {
  height: 24px;
  width: 480px;
  background-color: var(--icon-gray);
}


.resultsListWrapperLoading {
  grid-column: 2/4;
  grid-row-start: 2;
}

.playlistBannerWrapperLoading {
  grid-column: 4/5;
  grid-row-start: 1;
}

.playlistHeader {
  display: grid;
  grid-template-columns: 176px auto;
  grid-template-rows: 86px 86px;
  overflow: hidden;
  background-color: var(--icon-gray);
  max-width: 260px;
  height: 100%;;
}

.playlistHeader h1 {
  background-color: var(--icon-gray);
  height: 24px;
  width: 200px;
}

.mainThumbWrapper {

  width: 176px;
  height: 176px;
  overflow: hidden;
  display: inline-block;
}

.sideThumbsWrapper {
  display: inline-block;
}

.mainThumbWrapper p,
.sideThumbsWrapper p {
  background-color: var(--icon-gray);
  height: 24px;
  width: 200px;
}

.playlistItems li {
  background-color: var(--icon-gray);
  height: 24px;
  width: 100%;
}
