.relatedVideosList { padding: 0 12px; }

@media (min-width: 1080px) {
  .watchVideo {
    padding: 24px 64px;
    display: grid;
    grid-template-columns: auto 424px;
    grid-gap: 16px;
  }

  .videoDetailWrapper { grid-column: 1/1; }
  .relatedVideosList { grid-column: 2/3; }
}

@media (min-width: 1280px) { .watchVideo { padding: 24px 72px; } }
@media (min-width: 1440px) { .watchVideo { padding: 24px 96px; } }
