
.searchResultsWrapper {
  padding: 6px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 96px auto;
}
.channelCardWrapper {
  grid-column: 1/2;
  grid-row: 1/2;
}
.resultsListWrapper {
  grid-column: 1/2;
  grid-row-start: 2;
}


@media (min-width: 1080px) {
  .searchResultsWrapper {
    padding: 12px;
    max-width: 1280px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: 246px auto;
    grid-template-rows: 152px auto;
  }

  .channelCardWrapper {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .resultsListWrapper  {
    grid-column: 1/3;
    grid-row-start: 2;
  }

}
